@kristianheljas:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

@capawesome-team:registry=https://npm.registry.capawesome.io
//npm.registry.capawesome.io/:_authToken=${POLAR_LICENSE_KEY}
